.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6f9; /* light grey background */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tableContainer {
  width: 80%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
}

thead {
  background: linear-gradient(90deg, #4cafef, #007bff);
  color: white;
}

.tablehead th {
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

tbody td {
  padding: 12px 14px;
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #241d1d;
}

tbody tr:hover {
  background-color: #adc8ef; /* row hover effect */
  transition: 0.2s ease-in-out;
}

tbody tr:last-child td {
  border-bottom: none;
}
.actionButtons {
  gap: 5px;
  display: flex;
  justify-content: space-around;
}
.actionButtons button {
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.viewBtn {
  background-color: rgb(113, 200, 113);
}
.updateBtn {
  background-color: rgb(209, 209, 116);
}
.deleteBtn {
  background-color: rgb(213, 115, 115);
}
